<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/2pip2.ico")">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '114335182551950',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>                
            </div>
            <div class="navbar-collapse collapse">                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()      

        <hr/>
        <footer>
            <address>
                <strong>2P!P2 Technology, Inc.</strong><br>
                Rua Milano, 427<br>
                Cotia - São Paulo - Brasil<br>
                <abbr title="Telefone">Tel:</abbr> (011) 4200-4936<br>
                <a href="mailto:#">paulo.perez@2pip2.com</a>
            </address>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
