@using Portal.Infra.CrossCutting.Identity.Model

@model IndexViewModel

@{
    ViewBag.Title = "Configurações";
    Layout = "~/Views/Shared/_Layout - Interno.cshtml";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Configurações da conta</h4>
    <dl class="dl-horizontal">
        <dt>Senha:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Mude sua senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Criar uma senha", "SetPassword")
            }
            ]
        </dd>

        <dt>Logins Externo:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Gerenciar", "ManageLogins") ]
        </dd>
        <dt>Telefone:</dt>
        <dd>
            @(Model.PhoneNumber ?? "Nenhum")
            @if (Model.PhoneNumber != null)
            {
                <br />
                    <text>[@Html.ActionLink("Mudar", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("Remover telefone", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[@Html.ActionLink("Adicionar", "AddPhoneNumber")] </text>
            }
        </dd>

        <dt>Authenticação Two-Factor:</dt>
        <dd>

            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Ativado
                        <input type="submit" value="Desativar" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Desativado
                        <input type="submit" value="Ativar" class="btn btn-link" />
                    </text>
                }
            }
        </dd>
    </dl>

</div>
